.one{
    width:300px;
    height: 300px;
    /*border:8px solid #73e451;*/
    background-image: radial-gradient(at top center,#f700ff 10px, transparent),radial-gradient(at right center,#00aeff 10px, transparent),radial-gradient(at left center,#e100ff 10px, transparent),radial-gradient(at bottom center,#00ffb3 10px, transparent);
    border-radius: 50%;
}